{% extends 'base.html' %}
{% load markup %}

{% block content %}
<h2><a href="{{response.url.get_absolute_url}}">{{response.url.url}}</a></h2>
<div>{{response.visited}}
[<b>{{response.status}}</b>
<i>{{response.url.content_type}}</i>]</div>

<form action="delete/" method="post">
  <input type="submit"
	 value="delete" />
</form>

{% if response.is_html %}
<p><a href="raw/">Raw View</a></p>
<hr />
{{response.as_markdown|markdown}}
{% else %}
<pre>{{response.body}}</pre>
{% endif %}


{% endblock %}
