{% extends 'base.html' %}

{% block content %}
<h2>Search Results: {{query}}</h2>

<table class="table table-condensed table-bordered table-striped">
{% for response in responses %}
<tr>
	<td>
		<a href="{{response.get_absolute_url}}">{{response.visited}}</a>
	</td>
	<td>{{response.length|filesizeformat}}</td>
	<td>
		<span class="{% if response.substantial %}substantial{% else %}insubstantial{% endif %}">{{response.url|truncatechars:100}}</span>
	</td>
</tr>
{% endfor %}
</table>

{% endblock %}
